@charset "UTF-8";

@media screen and (min-width: 767px) {
#menu-bg {
}
}

@media screen and (max-width: 767px) {
#menu-bg {
}
}

@media screen and (max-width: 479px) {
#menu-bg {
}
}


.content-txt{
  border: 1px solid;

  .txt-center{
    text-align: center;
  }
  .txt-right{
    text-align: right;
  }
  ul{
    list-style: disc;
    padding-left: 15px;
  }
  .ul-align-center{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
