@charset "UTF-8";

.box8 {
    padding: 0.25em 0.5em;
    margin: 1em 0;
    color: #ff7d6e;
    background: #ffebe9;
    border-top: solid 10px #ff7d6e;
}
.box8 p {
    margin: 0; 
    padding: 0;
}

@media screen and (min-width: 767px) {
#menu-bg {

}
}

@media screen and (max-width: 767px) {
#menu-bg {
}
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
#menu-bg {
}
}

p.b-keep{
  word-break: keep-all;
}
